<app-header></app-header>
<app-contentbody>
    <h1 titulo><br><img src="../../../../assets/images/icons/Groupradiator.png" style="width: 45px;">
        <span class="log_span">CALEFACCIÓN</span></h1>
    <h2 descripcion>Si su vivienda no tiene instalación de calefacción se la realizamos al mejor precio, asesorándole con el sistema más adecuado para cada caso: por tuberías con radiadores, por suelo radiante, etc.
        También aconsejamos el sistema productor de energía más adecuado (gas, gasoil, biomasa, geotermia, aerotermia, etc).</h2>
    <h1 titulo_ventaja><img src="../../../../assets/images/random/quality.png">
        <span class="log_span">Ventajas:</span></h1>
    <h2 descripcion_ventaja>
        - Realizamos instalaciones nuevas y modificaciones de circuitos de radiadores.<br>
        - Reparamos cualquier avería o fuga que tenga su instalación.<br>
        - Hacemos suelo radiante para su combinación con máquinas de aerotermia.<br><br></h2>
</app-contentbody>
<app-galeria></app-galeria>
<app-footer></app-footer>