<h2 mat-dialog-title>Política de privacidad de Instalaciones Siacara</h2>
<mat-dialog-content class="mat-typography">
  <p>Esta Política de privacidad describe cómo se recopila, utiliza y comparte su información personal cuando visita
    (denominado en lo sucesivo el “Sitio”).</p>

  <h3>INFORMACIÓN PERSONAL QUE RECOPILAMOS</h3>
  <p>Cuando visita el Sitio, recopilamos automáticamente cierta información sobre su dispositivo,
    incluida información sobre su navegador web, dirección IP, zona horaria y algunas de las cookies
    que están instaladas en su dispositivo. Además, a medida que navega por el Sitio, recopilamos información
    sobre las páginas web individuales o los productos que ve, las páginas web o los términos de búsqueda
    que lo remitieron al Sitio e información sobre cómo interactúa usted con el Sitio. Nos referimos a
    esta información recopilada automáticamente como “Información del dispositivo”.</p>

  <h3>¿CÓMO UTILIZAMOS SU INFORMACIÓN PERSONAL?</h3>
  <p>Usamos la Información de la consulta enviada que recopilamos en general para revisar posibles clientes a través del
    Sitio.
    Además, utilizamos esta Información de la consulta para: comunicarnos con usted;
    y cuando de acuerdo con las preferencias que usted compartió con nosotros,
    le proporcionamos información relacionada con nuestros productos o servicios.
    Utilizamos la Información del dispositivo que recopilamos para ayudarnos a detectar posibles riesgos y fraudes (en
    particular, su dirección IP) y,
    en general, para mejorar y optimizar nuestro Sitio (por ejemplo, al generar informes y estadísticas sobre cómo
    nuestros clientes navegan e interactúan
    con el Sitio).</p>

  <p>NO Compartimos su Información personal con terceros en ningún caso.</p>

  <h3>RETENCIÓN DE DATOS</h3>

  <p>
    Cuando realiza una consulta a través del Sitio(Contacto), mantendremos su Información solo para responder/aclarar
    dudas sobre la consulta;
    posteriormente a esta respuesta los datos del usuario se eliminan, a menos que se decida contratar nuestros
    servicios, por lo que se mantendrán los datos
    para poder contactar con el ya cliente</p>

  <h3>CAMBIOS</h3>

  <p>Podemos actualizar esta política de privacidad periódicamente para reflejar, por ejemplo, cambios en nuestras
    prácticas o por
    otros motivos operativos, legales o reglamentarios.</p>

  <h3>CONTÁCTENOS</h3>

  <p>Para obtener más información sobre nuestras prácticas de privacidad, si tiene alguna pregunta o si desea presentar
    una queja, contáctenos por correo electrónico a '[[[INSERTE CORREO]]]'.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
 <!-- <button mat-button mat-dialog-close>Cancel</button>-->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cerrar</button>
</mat-dialog-actions>