@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
// @import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
/* Color of the links BEFORE scroll */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: 24px !important;
}

main{
    width: 90vw;
    margin: 0 auto;
}
.header-main{
    background-color: #393E46;
    text-align: center;
    padding: 1%;
    color: white;
    margin:2vw 0;

}
.header-main h3{
    font-size: 28px;
    margin: 0;
    padding: 1vw;
}