<app-header></app-header>
<app-contentbody>
    <h1 titulo><br><img src="../../../../assets/images/icons/Groupbrick.png" style="width: 50px;">
        <span class="log_span" style="margin-left: 1%;">ALBAÑILERÍA</span></h1>
    <h2 descripcion>El trabajo de un albañil requiere un alto grado de especialización y experiencia para realizar todo tipo de reparaciones, reformas o construcciones de toda índole. Son trabajos que no puede realizar cualquiera, por eso hay que recurrir a profesionales preparados. Nosotros ofrecemos un trabajo con garantías y eficiencia.</h2>
    
    <h1 titulo_ventaja><img src="../../../../assets/images/random/quality.png">
        <span class="log_span" style="margin-left: 1%;">Ventajas:</span></h1>
        <ul descripcion_ventaja>
            <li>Agilidad y flexibilidad en la reforma.</li>
            <li>Instalamos, limpiamos y arreglamos el sistema que tengas.</li>
            <li>Utilizamos materiales de primera calidad.</li>
            <li>Recibirás un trato completamente personalizado, con el principal objetivo de poder adaptarnos a tus necesidades.</li>
            <li>Visitamos el espacio a reformar o reparar para realizar el estudio previo y te presentaremos un presupuesto a medida conforme a lo que estás buscando.</li>
            <li>Nos caracterizamos por nuestra experiencia, calidad, profesionalidad y la satisfacción que tienen nuestros clientes con los trabajos realizados.</li>
    </ul>
</app-contentbody>
<div class="galeria">
    <app-galeria></app-galeria>
</div>
<app-footer></app-footer>
