<app-header></app-header>
<app-contentbody>
    <h1 titulo><br><img src="../../../../assets/images/icons/Groupbrick.png" style="width: 45px;">
        <span class="log_span">ALBAÑILERÍA</span></h1>
    <h2 descripcion>Si aún sigues pasando frío o calor en tu vivienda, es porque no conoces los beneficios de tener instalado un aire acondicionado en casa.
        Sin duda alguna, los sistemas de aire acondicionado tienen un gran impacto beneficioso en nuestras vidas cotidianas, aunque no seamos conscientes de ello. <br>
        Estos pueden ser tanto de comodidad hasta saludables. Sin contar, además, que es una de las mejores inversiones que los usuarios pueden hacer en su vivienda.</h2>
    
    <h1 titulo_ventaja><img src="../../../../assets/images/random/quality.png">
        <span class="log_span">Ventajas:</span></h1>
    <h2 descripcion_ventaja>
        -Agilidad y flexibilidad en la reforma. <br>
        -Instalamos, limpiamos y arreglamos el sistema que tengas. <br>
        -Utilizamos materiales de primera calidad. <br>
        -Recibirás un trato completamente personalizado, con el principal objetivo de poder adaptarnos a tus necesidades. <br>
        -Visitamos el espacio a reformar o reparar para realizar el estudio previo y te presentaremos un presupuesto a medida conforme a lo que estás buscando.<br> 
        -Nos caracterizamos por nuestra experiencia, calidad, profesionalidad y la satisfacción que tienen nuestros clientes con los trabajos realizados.<br><br></h2>
</app-contentbody>
<app-galeria></app-galeria>
<app-footer></app-footer>
