<app-header></app-header>
<app-contentbody>
    <h1 titulo><br><img src="../../../../assets/images/icons/Groupair-conditioner.png" style="width: 45px;">
        <span class="log_span " style="margin-left: 1%;">AIRE ACONDICIONADO</span></h1>
    <h2 descripcion>Si aún sigues pasando frío o calor en tu vivienda, es porque no conoces los beneficios de tener instalado un aire acondicionado en casa.
        Sin duda alguna, los sistemas de aire acondicionado tienen un gran impacto beneficioso en nuestras vidas cotidianas, aunque no seamos conscientes de ello. 
        Estos pueden ser tanto de comodidad hasta saludables. Sin contar, además, que es una de las mejores inversiones que los usuarios pueden hacer en su vivienda.</h2>
    
    <h1 titulo_ventaja><img src="../../../../assets/images/random/quality.png">
        <span class="log_span" style="margin-left: 1%;">Ventajas:</span></h1>
    <ul descripcion_ventaja>
            <li>Confort y calidad de vida.</li>
            <li>Aire Filtrado y limpio gracias al aire acondicionado en casa. </li>
            <li>Ventilación constante y deshumidificación.</li>
            <LI>Temperatura estable y controlada con el aire acondicionado en casa.</LI>
            <LI>Mejor rendimiento de los aparatos electrónicos.</LI>
    </ul>
</app-contentbody>
<div class="galeria"><app-galeria></app-galeria></div>
<app-footer></app-footer>
