<!-- Footer -->
<footer class="footer">
    <!-- Section: Social media -->

    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="p-4">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i> Instalaciones siacara
            </h6>
            <div>
              <h6 class="text-uppercase fw-bold mb-4">
                REDES SOCIALES DE INTERÉS
              </h6>
              <p>
                <a href="https://www.instagram.com/instalacionessiacara/" target="_blank" class="text-reset">Instagram</a>
              </p>
              <p>
                <a href="https://www.linkedin.com/in/instalaciones-siacara-7aa239237/" target="_blank" class="text-reset">Linkedin</a>
              </p>
            </div>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Servicios
            </h6>
            <p>
              <a href="/calderas" class="text-reset">Calderas</a>
            </p>
            <p>
              <a href="/gas" class="text-reset">Gas</a>
            </p>
            <p>
              <a href="/aerotermia" class="text-reset">Aerotermia</a>
            </p>
            <p>
              <a href="/calefaccion"class="text-reset">Calefacción</a>
            </p>
            <p>
              <a href="/acs" class="text-reset">Agua C.S.</a>
            </p>
            <p>
              <a href="/saneamientos" class="text-reset">Saneamientos</a>
            </p>
            <p>
              <a href="/reforma" class="text-reset">Albañilería</a>
            </p>
            <p>
              <a href="/aireacondicionado" class="text-reset">Aire acondicionado</a>
            </p>	
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <!-- <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div> -->
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> Nuestra Señora de Valvanera, 103, Madrid-28019, España</p>
            <p><i class="fas fa-envelope me-3"></i>
              instalacionessiacara@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +34 660 74 51 14</p>
            <p><i class="fas fa-phone me-3"></i> +34 640 78 17 13</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold"> Alderson Caero</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
