<app-header></app-header>
<app-contentbody>
    <h1 titulo><br><img src="../../../../assets/images/icons/Groupwind.png" style="width: 45px;">
        <span class="log_span" style="margin-left: 1%;">AEROTERMIA</span></h1>
    <h2 descripcion>La aerotermia es un sistema que mediante el intercambio de calor, obtiene
        energía del aire para convertirla en calefacción, refrigeración o agua caliente.</h2>
    <h1 titulo_ventaja><img src="../../../../assets/images/random/quality.png">
        <span class="log_span" style="margin-left: 1%;">Ventajas:</span></h1>
        <ul descripcion_ventaja>
            <li>Ahorro energético: Como ha sido mencionado anteriormente, los sistemas de aerotermia soncapaces de aportar un 75% de su energía del aire, reduciendo en gran medida el consumo eléctrico.</li>
            <li>Ahorro en la factura: Gracias a la gran eficiencia de los sistemas de aerotermia, se ve una reducción notable en las facturas comparadas con otros sistemas, el ahorro anual
                dependerá de con que sistema se este comparando la factura con aerotermia puede ser hasta de un 1/3 de la factura anterior, comparado con otro sistema como con una caldera de condensación, 
                la diferencia es menor pero aun se puede apreciar una reducción de hasta un 40%. <br>
                Aunque el precio inicial de la instalación de la aerotermia suele ser algo mayor este se acaba amortizando en pocos años con ahorro mensual.</li>
            <li>Gasto en mantenimiento: Una vez instalados, sistemas de aerotermia no necesitan apenas ningún tipo de mantenimiento.</li>
            <li>El compañero perfecto para el suelo radiante: Combinando el consumo bajo del suelo radiante y sus pocos requerimientos de temperatura con la aerotermia te ofrece un sistema de control de temperatura con la mayor eficiencia.</li>
    </ul>
</app-contentbody>
<DIV CLASS="galeria">
    <app-galeria></app-galeria>
</DIV>
<app-footer></app-footer>
