.cabecera{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cabecera p{
    width: 70%;
    font-size: 1.2rem;
}
.contenedor{
    display: flex;
    width: 100%;
}
.form-group > mat-form-field{
    width: 100%;
}

.izq img{
    width: 100%;
    height: 100%;
}
.der  {
    width: 100%;
    height: 100%;
}


@media screen and (max-width:994px){
    .izq{
        width: 0%;
        height: 0%;
    }
    .izq img{
        visibility: hidden;
    }
}