.cabecera{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cabecera p{
    font-size: 1.2rem;
    padding: 0 0 3vh 0;
}
.contenedor{
    padding: 1%;
}
form> div>mat-form-field{
    width: 100%;
}
.aceptar{
    display: flex;
}
.aceptar>mat-checkbox{
    align-self: center;
   
}
.aceptar>p{
    margin: 0 0 0.2em 0.3em;
    font-size: 1.2em;
}

// form> div:nth-of-type(3)>mat-form-field{
//     width: 60%;
// }
// form> div:nth-of-type(4)>mat-form-field{
//     width: 20%;
// }
// form> div:nth-of-type(5)>mat-form-field{
//     width: 60%;
// }

@media screen and (max-width:1400px){
    .aceptar>mat-checkbox{
        align-self: flex-start;
        margin-top: 0.3em;
    }
}