<app-header></app-header>
<app-contentbody>
    <h1 titulo><br><img src="../../../../assets/images/icons/Grouptaps.png" style="width: 45px;">
        <span class="log_span" style="margin-left: 1%;">SANEAMIENTOS</span></h1>
    <h2 descripcion>Te ofrecemos nuestro servicio de mantenimiento, contamos con técnicos expertos, autorizados y certificados para hacer cualquier reparación de averías (tuberías, sanitarios, fugas, goteos, radiadores, malos olores etc.). Trabajamos y reparamos con cualquier tipo de material (cobre, acero, multicapa, PEX, etc.).</h2>
    <h1 titulo_ventaja><img src="../../../../assets/images/random/quality.png">
        <span class="log_span" style="margin-left: 1%;">Ventajas:</span></h1>
    <ul descripcion_ventaja>
        <li>Instalaciones sencillas, rápidas y eficaces.</li>
        <li>Cambios con garantía.</li>
        <li>Reparaciones asequibles.</li>
    </ul>
</app-contentbody>
<div class="galeria">
    <app-galeria></app-galeria>
</div>
<app-footer></app-footer>
