<app-header></app-header>
<app-contentbody>
    <h1 titulo><br><img src="../../../../assets/images/icons/Grouptaps.png" style="width: 45px;">
        <span class="log_span">CALEFACCIÓN</span></h1>
    <h2 descripcion>Te ofrecemos nuestro servicio de mantenimiento, contamos con técnicos expertos, autorizados y certificados para hacer cualquier reparación de averías (tuberías, sanitarios, fugas, goteos, radiadores, malos olores etc.). <br>
        Trabajamos y reparamos con cualquier tipo de material (cobre, acero, multicapa, PEX, etc.)</h2>
    <h1 titulo_ventaja><img src="../../../../assets/images/random/quality.png">
        <span class="log_span">Ventajas:</span></h1>
    <h2 descripcion_ventaja>
        - Instalaciones sencillas, rápidas y eficaces.<br>
        - Cambios con garantía.<br>
        - Reparaciones asequibles.<br><br></h2>
</app-contentbody>
<app-galeria></app-galeria>
<app-footer></app-footer>
