<div class="body">
<div class="card-deck d-flex justify-content-around flex-wrap" >
    <div class="card">
        <img class="card-img-top" src="https://images.pexels.com/photos/7664072/pexels-photo-7664072.jpeg?auto=compress&cs=tinysrgb" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
            <img class="card-img-top" src="https://images.pexels.com/photos/7664072/pexels-photo-7664072.jpeg?auto=compress&cs=tinysrgb" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images.pexels.com/photos/7664072/pexels-photo-7664072.jpeg?auto=compress&cs=tinysrgb" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
