<app-header></app-header>
<main>
      <div class="header-main">
        <h3>INSTALACIONES</h3>
      </div>
      <div class="body">
        <div class="card-deck d-flex justify-content-around flex-wrap" >
            <div class="card">
                <div class="imga"><img class="card-img-top" src="../../../../assets/images/Instalaciones/caldera.jpg" alt="Card image cap"></div>
                <div class="card-body">
                  <h5 class="card-title text-center"><span>CALDERAS</span> <img src="../../../../assets/images/icons/Groupboiler.png" class="icon-caldera"></h5>
                  <p class="card-text">¿Estas buscando caldera nueva? ¿Quieres arreglar tu caldera? Nosotros nos encargamos de cambiarte la caldera y nos ocupamos de su mantenimiento.</p>
                </div>
                <div class="card-footer">
                  <a href="/calderas"> Leer más ...</a>
                </div>
            </div>
            <div class="card">
                    <div class="imga"><img class="card-img-top" src="../../../../assets/images/Instalaciones/gas.jpg" alt="Card image cap"></div> 
                    <div class="card-body">
                        <h5 class="card-title text-center"> <span>GAS</span> <img src="../../../../assets/images/icons/Groupfire.png" class="icon"></h5>
                        <p class="card-text">Realizamos instalaciones de gas para su vivienda: IRI, contadores, reguladores, etc. También corregimos cualquier tipo de anomalía que tenga su instalación. 
                          Trabajo realizado por personal cualificado y experto en el sector que certifica todas nuestras instalaciones como dicta la industria.</p>
                    </div>
                    <div class="card-footer">
                        <a href="/gas"> Leer más ...</a>
                    </div>
            </div>
            <div class="card">
             <div class="imga"><img class="card-img-top" src="../../../../assets/images/Instalaciones/aerotermia.jpg" alt="Card image cap"></div> 
              <div class="card-body">
                <h5 class="card-title text-center"><span>AEROTERMIA</span>  <img src="../../../../assets/images/icons/Groupwind.png" class="icon"> </h5>
                <p class="card-text">La calefacción eficiente, hace uso de la energía del aire para tener el sistema de calefacción más eficiente que hay, bajando en gran medida el consumo en calefacción.</p>
              </div>
              <div class="card-footer">
                <a href="/aerotermia"> Leer más ...</a>
              </div>
            </div>
          </div>
      </div>
      <div class="header-main">
        <h3>FONTANERIA</h3>
      </div>
        <div class="body">
          <div class="card-deck d-flex justify-content-around flex-wrap" >
              <div class="card">
                  <div class="imga"><img class="card-img-top" src="../../../../assets/images/Fontaneria/radiator.jpg" alt="Card image cap"></div>
                  <div class="card-body">
                    <h5 class="card-title text-center"><span>CALEFACCIÓN</span> <img src="../../../../assets/images/icons/Groupradiator.png" class="icon"></h5>
                    <p class="card-text">¿Desea cambiar su antiguo radiador? Nosotros nos encargamos de la sustitución de uno nuevo. Realizamos instalaciones en reformas y obra nueva, también reparamos cualquier fuga que pueda tener su instalación.
                      Nosotros también instalamos suelo radiante, el cual está ganando más popularidad en estos últimos años, nos encargamos del dimensionamiento y su instalación. </p>
                  </div>
                  <div class="card-footer">
                    <a href="/calefaccion"> Leer más ...</a>
                  </div>
              </div>
              <div class="card">
                      <div class="imga"><img class="card-img-top" src="../../../../assets/images/Fontaneria/calentador.jpg" alt="Card image cap"></div>
                      <div class="card-body">
                          <h5 class="card-title text-center"> <span>AGUA CALIENTE SANITARIA</span> <img src="../../../../assets/images/icons/Groupacs.png" class="icon"></h5>
                          <p class="card-text">El sistema que emplearemos para el agua caliente sanitaria, existen diferentes opciones, más o menos respetuosas con el medio ambiente y económicas.</p>
                      </div>
                      <div class="card-footer">
                          <a href="/acs"> Leer más ...</a>
                      </div>
              </div>
              <div class="card">
                <div class="imga"><img class="card-img-top" src="../../../../assets/images/Fontaneria/saneamiento.jpg" alt="Card image cap"></div>
                <div class="card-body">
                  <h5 class="card-title text-center"><span>SANEAMIENTOS</span>  <img src="../../../../assets/images/icons/Grouptaps.png" class="icon"> </h5>
                  <p class="card-text">Ofrecemos nuestro servicio de reparación realizados por técnicos expertos solucionando de manera inmediata cualquier tipo de avería, fuga, atasco, grifería e instalación de aparatos, no dude en ponerse en contacto con nosotros si tiene alguna duda.</p>
                </div>
                <div class="card-footer">
                  <a href="/saneamientos"> Leer más ...</a>
                </div>
              </div>
            </div>
        </div>

        <div class="header-main">
          <h3>OTROS SERVICIOS</h3>
        </div>
          <div class="body">
            <div class="card-deck d-flex justify-content-around flex-wrap" >
                <div class="card">
                    <div class="imga"><img class="card-img-top" src="../../../../assets/images/OtrosServicios/albañileria (4).jpeg" alt="Card image cap"></div>
                    <div class="card-body">
                      <h5 class="card-title text-center"><span>ALBAÑILERÍA</span> <img src="../../../../assets/images/icons/Groupbrick.png" class="icon"></h5>
                      <p class="card-text">Realizamos todo tipo de reformas: Alicatado, solado, pintura, pladur, cambio de bañera por plato de ducha, reformas en general en baños, cocinas, etc.</p>
                    </div>
                    <div class="card-footer">
                      <a href="/reforma"> Leer más ...</a>
                    </div>
                </div>
                <div class="card">
                        <div class="imga"><img class="card-img-top" src="../../../../assets/images/OtrosServicios/aireacondicionado.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h5 class="card-title text-center"> <span>AIRE ACONDICIONADO</span> <img src="../../../../assets/images/icons/Groupair-conditioner.png" class="icon"></h5>
                            <p class="card-text">Realizamos instalaciones nuevas y mantenimiento de máquinas de aire acondicionado.</p>
                        </div>
                        <div class="card-footer">
                            <a href="/aireacondicionado"> Leer más ...</a>
                        </div>
                </div>
              </div>
          </div>
  

        <div class="header-main">
          <h3>SOBRE NOSOTROS</h3>
        </div>
        <div class="sobren">
          <div class="intro">
            <div class="imagen_intro">
              <img src="../../../../assets/images/SobreNosotros/energiaresponsable.jpg" alt="">
            </div>
            <div class="descripcion">
              <h1>ENERGIAS RESPONSABLES</h1>
              <p>Nuestros servicios, desde aerotermia hasta saneamientos, pasando por las calderas, tienen un aspecto responsable con el medio ambiente. 
                Haciendo uso de energías renovables, usando la energía de una manera más eficiente y conservadora o reduciendo en gran medida las emisiones nocivas.</p>
            </div>
        </div>
        <div class="intro">
          <div class="descripcion">
            <h1>EMPRESA CERCANA</h1>
            <p>Somos fontaneros profesionales y ofrecemos un extenso servicio de fontaneria en la Comunidad de Madrid que le solucionará cualquier problema que 
              tenga en su hogar, local comercial, oficina, etc. Nuestro trabajo nos apasiona y siempre ponemos el 101% de nuestra parte. Damos un trato honesto y eficaz. 
              Intentamos siempre finalizar los trabajos con la mayor rapidez posible, con la calidad y limpieza más alta que podamos ofrecer. Como empresa tenemos un lado humano que compartimos con el cliente, 
              cada uno tiene una situación única y siempre procuramos ofrecer los servicios que mejor se adapten a tu situación actual.</p>
          </div>
          <div class="imagen_intro_2">
            <img src="../../../../assets/images/SobreNosotros/empresacercan.jpg" alt="">
          </div>
          
      </div>
        </div>
       
</main>
<app-footer></app-footer>
