.body{
    padding: 1vw;
}
.card{
    min-width: 200px;
    max-width: 350px;
    margin: 1vw;
}
.card>div>p{
    font-size: 16px;
}
.imga{
    height: 550px;
}
.imga>img{
    object-fit: fill;
    height: 100%;
}
.sobren{
    display: flex;
    flex-direction: column;
    
}
.intro{
   display: flex;
   padding: 2vh;
   
}
.imagen_intro,
.imagen_intro_2{
    width: 500px;
    flex-basis: 50% ;
    padding: 1vw;
}
.imagen_intro>img,
.imagen_intro_2>img{
    width: 100%;
    
}
.imagen_intro_2{
    justify-self: end;
}
.descripcion{
    flex-basis: 50% ;
    padding: 1vw;
}
.descripcion>h1{
    font-size: 28px;
}
.descripcion>p{
    font-size: 20px;
}
.card-title{
    font-size: x-large;
    padding: 0.5vw;
    color:#00ADB5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    width: 28px;
}
.icon-caldera{
    width: 25px;
}

.card-text{
    padding: 1vh 0;
    text-align: center;
}
.card-footer{
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.9);
}

.card-footer a{
    text-decoration: none;
    font-size: 18px;
    color: white; 
}
.card-footer a:hover{
    color:#00ADB5;
}
@media screen and (max-width:1100px){

    .intro{
        flex-direction: column;
    }
    .imagen_intro_2{
        order: -1;
    }
    .imagen_intro,
    .imagen_intro_2{
        width: 100%;
    }
    .descripcion>h1{
        text-align: center;
    }
    .imagen_intro_2{
        grid-row: 1/2;
    }
}
@media screen and (max-width:375px) {
    main{
        min-width: 375px;
    }
    
}