<app-header></app-header>
<app-contentbody>
    <h1 titulo><br><img src="../../../../assets/images/icons/Groupfire.png" style="width: 45px;">
        <span class="log_span">GAS</span></h1>
    <h2 descripcion>El gas natural es bastante rentable si lo comparamos con otros combustibles
        fósiles. El gas se quema limpiamente sin dejar restos, y por consiguiente, crea
        menos emisiones que otros combustibles tales como el petróleo.
        Todo el trabajo es hecho por técnicos profesionales y autorizados por la
        Comunidad de Madrid, cualquier trabajo realizado será certificado y
        garantizado.</h2>
    
    <h1 titulo_ventaja><img src="../../../../assets/images/random/quality.png">
        <span class="log_span">Ventajas:</span></h1>
    <h2 descripcion_ventaja>
        -Realizamos modificaciones e instalaciones domesticas de gas. <br>
        -Montamos todo tipo de aparatos de gas (calderas, calentadores, placas de cocina, etc.). <br>
        -Disminución de consumo de energías de hasta un 20% cambiando a nuevos modelos. <br> <br></h2>
</app-contentbody>
<app-galeria></app-galeria>
<app-footer></app-footer>
