<app-header></app-header>
<app-contentbody>
    <h1 titulo><br><img src="../../../../assets/images/icons/Groupfire.png" style="width: 45px;">
        <span class="log_span" style="margin-left: 1%;">GAS</span></h1>
    <h2 descripcion>El gas natural es bastante rentable si lo comparamos con otros combustibles
        fósiles. El gas se quema limpiamente sin dejar restos, y por consiguiente, crea
        menos emisiones que otros combustibles tales como el petróleo.
        Todo el trabajo es hecho por técnicos profesionales y autorizados por la
        Comunidad de Madrid, cualquier trabajo realizado será certificado y
        garantizado.</h2>
    
    <h1 titulo_ventaja><img src="../../../../assets/images/random/quality.png">
        <span class="log_span" style="margin-left: 1%;">Ventajas:</span></h1>
        <ul descripcion_ventaja>
            <li>Realizamos modificaciones e instalaciones domesticas de gas.</li>
            <li>Montamos todo tipo de aparatos de gas (calderas, calentadores, placas de cocina, etc.). </li>
            <li>Disminución de consumo de energías de hasta un 20% cambiando a nuevos modelos.</li>
    </ul>
</app-contentbody>
<div class="galeria"><app-galeria></app-galeria></div>
<app-footer></app-footer>
