<div class="menu">
	<a href=""><h1> GML Instalaciones</h1></a>
    <input type="checkbox" id="menu">
    <label for="menu">
    	<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAMFBMVEUAAAD///////////////////////////////////////////////////////////87TQQwAAAAD3RSTlMAAQ8TFB4fSV6Ag4Wt6/uDY192AAAAQElEQVQoz2NgIAiEXVCAAsP5/yjgOwMq//8vdIHfDO9RBX4y9KEKXGOgCUCz5SqmOzBciuEXDN9ihAc1wGANZAAX+vf+Xu8gUwAAAABJRU5ErkJggg==" width="32" height="32" alt="">
    </label>
    <ul>
    	<li><a href="#">Inicio</a></li>
        <li>
        	<a href="#">Galeria</a>
        </li>
        <li><a href="#">Contacto</a></li>
    </ul>
</div>