<div class="main">
  <div class="header-main">
    <h3>INSTALACIONES REALIZADAS DE {{(path.substring(path.indexOf("/")+1)).toUpperCase()}}</h3>
  </div>
<div class="container-fluid">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide *ngFor="let item of images">
      <div class="picsum-img-wrapper">
        <img [src]="item" alt="Random first slide">
      </div>
      <!-- <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div> -->
    </ng-template>
  </ngb-carousel></div>
</div>