.info, .ventajas{
    text-align:justify;
}
 .descripcion{
     padding:2% ;
 }

 .descripcion_ventaja{
     padding:0 2%;
     font-size:20px;
     font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
 }
.cuerposervice{
    width: 95%;
    margin:0 auto;
    padding:5% 0;
}