<div class="cuerposervice">
    <div class="d-flex justify-content-between">
        <div class="info">
            <ng-content select="[titulo]"></ng-content>
            <ng-content select="[descripcion]"></ng-content>
        </div>
        <div class="img">
            <ng-content select="[imagen]"></ng-content>
        </div>
       
    </div>
    <div class="ventajas ">
        <ng-content select="[titulo_ventaja]"></ng-content>
        <ng-content select="[descripcion_ventaja]"></ng-content>
    </div>
</div>