<app-header></app-header>
<app-contentbody>
    <h1 titulo><br><img src="../../../../assets/images/icons/Groupboiler.png" style="width: 45px;">
        <span class="log_span" style="margin-left: 1%;">CALDERAS</span></h1>
    <h2 descripcion>Las calderas de condensación son calderas de gas que aprovechan el calor
        que se genera al enfriar el vapor de agua contenido en los humos de la
        combustión antes de que estos se vayan por la chimenea.</h2>
    
    <h1 titulo_ventaja><img src="../../../../assets/images/random/quality.png">
        <span class="log_span" style="margin-left: 1%;">Ventajas:</span></h1>
        <ul descripcion_ventaja>
            <li>Instalación simple y menores costes.</li>
            <li>Emisión reducidas de gases contaminantes. </li>
            <li>Disminución de consumo de energías de hasta un 30% cambiando a nuevos modelos de calderas.</li>
            <li>Menor ruido. </li>
            <li>Mayor comodidad con las calderas de configuración digital.</li>
    </ul>
</app-contentbody>
<div class="galeria"><app-galeria></app-galeria></div>
<app-footer></app-footer>