<app-header></app-header>
<app-contentbody>
    <h1 titulo><br><img src="../../../../assets/images/icons/Groupacs.png" style="width: 45px;">
        <span class="log_span">CALEFACCIÓN</span></h1>
    <h2 descripcion>Las instalaciones ACS, o de agua caliente sanitaria, son aquellas instalaciones de agua caliente destinadas a consumo humano. Esta agua, principalmente,
        se utiliza para los baños y las duchas, así como la lavadora, el lavavajillas o el agua del fregadero.</h2>
    <h1 titulo_ventaja><img src="../../../../assets/images/random/quality.png">
        <span class="log_span">Ventajas:</span></h1>
    <h2 descripcion_ventaja>
        - Instalaciones sencillas, rápidas y eficaces.<br>
        - Realizamos instalaciones de aparatos electrodomésticos.<br>
        - Instalamos termos eléctricos.<br><br></h2>
</app-contentbody>
<app-galeria></app-galeria>
<app-footer></app-footer>