<app-header></app-header>
<main>
    <div>

        <h3>SOLICITA INFORMACIÓN A TRAVÉS DEL SIGUIENTE FORMULARIO DE CONTACTO</h3>
        <p>
            Aclara cualquier duda que tengas, escríbenos una recomendación, una propuesta, solicítanos presupuesto o sencillamente déjanos un saludo. Te responderemos a la mayor brevedad. Entre tanto, recibe un cordial saludo. <br> <strong>Instalaciones Siacara.</strong> 
        </p>

        <div class="contacto">
            <div class="info">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Mapa_comarcal_de_la_Comunidad_de_Madrid.svg/220px-Mapa_comarcal_de_la_Comunidad_de_Madrid.svg.png" alt="">
                <div class="info_datos">
                    <div>
                        <h3 class="centrar"><mat-icon> place</mat-icon> &nbsp; DONDE ESTAMOS</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae explicabo reiciendis dignissimos, blanditiis harum cum maxime, aut quos pariatur velit hic laborum magni, veniam dolor quaerat in laudantium mollitia debitis.</p>
                    </div>
                    <div>
                        <h3 class="centrar"><mat-icon> access_time</mat-icon> &nbsp; HORARIOS</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati fugit est, magnam sit veritatis hic porro, adipisci incidunt amet facere vero eligendi at. Praesentium pariatur beatae nulla hic culpa eius.</p>
                    </div>
                </div>
            </div>
            <div class="formulario">
                <app-form></app-form>
            </div>
        </div>
    </div>
    
</main>
<app-footer></app-footer>