<app-header></app-header>
<main>
    <div>

        <h3>SOLICITA INFORMACIÓN A TRAVÉS DEL SIGUIENTE FORMULARIO DE CONTACTO</h3>
        <p>
            Aclara cualquier duda que tengas, escríbenos una recomendación, una propuesta, solicítanos presupuesto o sencillamente déjanos un saludo. Te responderemos a la mayor brevedad. Entre tanto, recibe un cordial saludo. <br> <strong>Instalaciones Siacara.</strong> 
        </p>

        <div class="contacto">
            <div class="info">
                <img src="../../../../assets/images/random/mapaCM.png">
                <div class="info_datos">
                    <div>
                        <h3 class="centrar"><mat-icon> place</mat-icon> &nbsp; DONDE ESTAMOS</h3>
                    <p>Nuestra Señora de Valvanera, 103, Madrid-28019, España.</p>
                    </div>
                    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <div>
                        <h3 class="centrar"><mat-icon> access_time</mat-icon> &nbsp; HORARIOS</h3>
                    <p>De Lunes a Sábados de 9:00h a 19:00h.</p>
                    </div>
                </div>
            </div>
            <div class="formulario">
                <app-form></app-form>
            </div>
        </div>
    </div>
    
</main>
<app-footer></app-footer>